@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.logo-title {
  font-family: "Lobster";
}
main {
  font-family: "Roboto", sans-serif;
}
.customfont {
  font-family: "Roboto";
}
.send {
  rotate: 20deg;
}
.form-input {
  background-color: rgba(243, 243, 243, 0.572);
  padding: 0.6rem 0.5rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  outline: none;
}
.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.fileInput::before {
  content: "Select from computer";
  background: rgb(16, 150, 238);
  padding: 0.5rem 0.9rem;
  border-radius: 10px;
  color: #f5f5f7;
  font-weight: 900;
  margin-left: 3rem;
}

.heart-icon {
  transition: color 0.3s ease-out;
}
.heart-icon.clicked {
  color: red;

  animation: pulse 0.5s ease-out;
}
.fill-heart-icon {
  color: red;

  animation: pulse 0.5s ease-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.nav-list-v-item {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}
